body {
  background-color: lightgray;
  height: 800px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* margin: 0;
    padding: 0; */
}

#target {
  background-color: green;
  border: 3px dashed black;
  width: 100%;
}
